body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #f6f6f6;
  }
  
  * a {
    text-decoration: none;
    color: white;
  }
  
  .main {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header {
    -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    width: 100%;
  }
  
  .header__logo {
    font-family: 'Shrikhand', cursive;
    margin: 0;
    color: black;
  }
  
  .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f3f3f3;
    color: #7a7a7a;
  }
  
  .location__city {
    margin-left: 13px;
    font-weight: 400;
  }
  
  .hero {
    background: #fafafa;
    width: 100%;
  }
  
  .hero__container {
    width: 100%;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0;
  }
  
  .hero__title {
    text-align: center;
    max-width: 250px;
    margin: 0;
  }
  
  .hero__text {
    text-align: center;
  }
  
  .hero__button {
    opacity: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
    background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    color: white;
    padding: 0 20px;
    border-radius: 200px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
  
  .hero__button:hover {
    opacity: 0.8;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  }
  
  .process__contain {
    padding: 25px 0;
    width: 100%;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .process {
    width: 95%;
    max-width: 1200px;
    background-color: white;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .process__title {
    margin: 0;
  }
  
  .process__step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f6f6f6;
    height: auto;
    width: auto;
    margin: 10px 20px;
    border-radius: 20px;
    position: relative;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
  }
  
  .process__step:hover {
    opacity: 0.8;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    background: white;
  }
  
  .process__number {
    background-color: #9356DC;
    color: white;
    position: absolute;
    padding: 3px 8px 3px 8px;
    border-radius: 500px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
  .process__icon {
    color: #7E7E7E;
    margin: 0 20px;
  }
  
  .process__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .footer {
    width: 100%;
    background-color: #353535;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .footer__bloc {
    display: inline;
    padding: 0 40px;
    width: 100%;
    max-width: 1200px;
  }
  
  .footer__bloc .logo {
    font-family: 'Shrikhand', cursive;
    color: white;
    font-size: 20px;
    padding: 15px 0;
  }
  
  .footer__bloc-links {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
  
  .footer__bloc-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    color: white;
    height: 30px;
    cursor: pointer;
  }
  
  .footer__bloc-link:hover .footer__bloc-link__title {
    text-decoration: underline;
  }
  
  .footer__bloc-link i {
    margin-right: 7px;
  }
  
  .footer__bloc-link__title {
    font-size: 16px;
    font-weight: 400;
  }
  
  @media screen and (min-width: 800px) {
    .process__step {
      width: 100%;
    }
    .process__steps {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 100%;
    }
    .footer__bloc {
      margin-bottom: 15px;
    }
    .footer__bloc-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      max-width: 900px;
    }
  }